<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>АВТО</title>
    <style>
        .container {
           max-width: 50%;
           margin: 0 auto;
           display: flex;
           flex-wrap: wrap;
        }

        .column {
          flex: 1;
          border: 1px solid #000;
          text-align: center;
           }
        .centered {
           text-align: center;
        }
    </style>
</head>
<body>
<h2 class="centered">Автомобили</h2>
<br>

<div class="container">
    <div class="column"><strong>Марка</strong></div>
    <div class="column"><strong>Цвет</strong></div>
    <div class="column"><strong>Тип</strong></div>
</div>

<div class="container" th:each="car:${cars}">
    <div class="column" th:text="${car.getMake()}">Column 1</div>
    <div class="column" th:text="${car.getColor()}">Column 2</div>
    <div class="column" th:text="${car.getType()}">Column 3</div>
</div>

</body>
</html>